<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="rviz" default="true" />
  
  <arg name="configfile" default="$(find covgrid_slam)/config/config16_1.xml" />

  <arg name="logdir" default="--log_dir=/home/jkj/catkin_ws/log" />
  <arg name="glogparam" default="--logtostderr=0  --colorlogtostderr=1 --stderrthreshold=5   $(arg logdir)" />

  <node pkg="covgrid_slam" type="masternode" name="masternode" args="$(arg glogparam)" output="screen">
  	<param name="config_file" value="$(arg configfile)"/>
  </node>

  
  <node pkg="covgrid_slam" type="getgpsdata" name="getgpsdata" args="--logtostderr=0  --colorlogtostderr=1  --stderrthreshold=5  $(arg logdir)" output="screen">
  </node>

  <node pkg="covgrid_slam" type="getrslidardata" name="getrslidardata" args="--logtostderr=0  --colorlogtostderr=1  --stderrthreshold=5  $(arg logdir)" output="screen">
  </node>
  
  <node pkg="covgrid_slam" type="getsinglerslidardata" name="getsinglerslidardata" args="--logtostderr=0  --colorlogtostderr=1  --stderrthreshold=5  $(arg logdir)" output="screen">
  </node>
 

</launch>
