<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="rviz" default="true" />

  <arg name="configfile" default="$(find sensor_driver)/config/configcalibration-rslidar.xml" />
  <arg name="logdir" default="--log_dir=/home/bit/catkin_ivperception1/log" />
  <arg name="glogparam" default="--logtostderr=0  --colorlogtostderr=1 --stderrthreshold=5   $(arg logdir)" />

  <node pkg="sensor_driver" type="masternode" name="masternode" args="$(arg glogparam)"  output="screen">
  	<param name="config_file" value="$(arg configfile)"/>
  </node>


  <node pkg="sensor_driver" type="getmultirslidardata" name="getmultirslidardata" args="--logtostderr=0  --colorlogtostderr=1 --stderrthreshold=2   $(arg logdir)" output="screen">
  <param name="fix_frame" value="true"/>
  </node>

  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find sensor_driver)/rviz_cfg/calibration.rviz" />
  </group>

</launch>
